.main-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.login {
  text-align: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 1.5rem);
}

.main-header {
  text-align: center;
}

.layout {
  display: grid;
  grid-template-columns: 350px auto;
  height: 100%;
  padding: 0;
}

.search-side,
.data-input {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.map-display {
  padding-left: 1rem;
  width: 100%;
}

.mapping-bar {
  display: flex;
  flex-direction: column;
}

.cyto-below {
  margin-top: 1rem;
}

.map-style {
  width: 250px;
}

.flex-column {
  display: flex;
  flex-direction: row;
}
