.mainHeader {
  margin: 1rem 0 0.5rem 0;
  display: flex;
  justify-content: center;
}

.logo {
  margin-right: 1.5rem;
}

.login {
  text-align: center;
}

.appContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.searchSide,
.dataInput {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.searchSide {
  border-right: 1px solid rgba(0, 0, 0, 0.25);
}

.mapDisplay {
  width: 100%;
  height: 100%;
}

.mappingBar {
  display: flex;
  flex-direction: column;
}

.cytoBelow {
  margin-top: 1rem;
}

.mapStyle {
  width: 250px;
}

.flexColumn {
  display: flex;
  flex-direction: row;
}

.logout {
  span {
    margin-left: 0.5rem;
  }
}
