.div {
  padding: 1rem 2rem;
  min-width: 50%;
  text-align: center;

  a:any-link {
    display: block;
    font-size: 1.25rem;
    color: #fdd835;
    text-decoration: none;
  }
}

.patreonLogo {
  width: 250px;
  height: 48px;
}
