.header {
  align-items: center;
  display: flex;
  height: 4.2rem;
  justify-content: space-between;
  background-color: #424242;
  padding: 0 2rem;

  img {
    max-height: 3.25rem;
  }
}

.logo {
}

.nav {
}
