@import '../../vars';

.header {
  align-items: center;
  display: flex;
  height: 4.2rem;
  justify-content: space-between;
  background: darken($baseBg, 2%);
  padding: 0 2rem;
  position: sticky;
  top: -1px;
  width: 100%;
  z-index: 1;

  img {
    max-height: 3.25rem;
    margin-right: 1rem;
  }

  @media (max-width: $breakpointSm) {
    padding: 0 0.25rem;
  }

  @media (max-width: $breakpointXs) {
    padding: 0 0.1rem;
  }
}
