.mapping-bar {
  .row {
    margin: 1rem 0;
  }
}

.flex-column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.duration-field {
  width: 45%;
}

.createBtn {
  width: 100%;
}
