@import '../../vars';

@media (max-width: $breakpointMd) {
  .container {
    margin: 2rem;
  }
}

.what {
  padding: 2rem 2rem 1rem 2rem;
  font-size: 1.42rem;
  line-height: 2rem;
  width: 100%;
  max-width: 900px;

  h1 {
    font-size: 1.42rem;
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  p {
    font-size: 1.1rem;
    line-height: 1.75rem;
    text-align: left;
    font-weight: 400;
  }
}
