@import '../../vars';

@media (max-width: $breakpointMd) {
  .container {
    margin: 2rem;
  }
}

.what {
  margin-top: 2rem;
  padding: 1rem 2rem;
  font-size: 1.42rem;
  line-height: 2rem;
  background-color: rgba(#000, 0.25);
  border: 1px solid rgba(#000, 0.5);
  border-radius: 10px;
  text-align: center;
  width: 100%;
  max-width: 900px;
  box-shadow: 3px 5px 7px rgba(#000, 0.25);

  h1 {
    font-size: 1.42rem;
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  p {
    font-size: 1.1rem;
    line-height: 1.75rem;
    text-align: left;
  }
}
