.accordion {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.main {
  align-items: center;
  display: flex;

  .icon {
    margin-right: 1rem;
  }
}

.details {
  display: flex;
  flex-direction: row;
}
