.mapcontainer {
  height: 100%;
  background: url('./cbg.png');
  box-shadow: inset 0 0 42px rgba(0, 0, 0, 0.25);
}

.cyto {
  height: calc(100% - 6rem);
  width: 100%;
}

.__________cytoscape_container {
  height: 100%;
  width: 100%;
}
