.nav {
  height: 100%;
  ul {
    height: 100%;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 2px;

    li {
      display: flex;
      align-items: center;
      height: 100%;
      margin: 0 0.1rem;
      padding: 0 0.25rem;
    }
  }

  .active {
    color: #f0f0f0;
  }

  .discordLogo {
    fill: yellow;
  }
}
