.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 4.2rem;
  padding: 1rem;
  bottom: 0;
  background: #424242;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  width: 100%;
}

.right,
.middle {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.middle {
  justify-content: center;
}

.discordLogo {
  height: 2.25rem;
  margin-bottom: -0.5rem;
}

.github {
  a,
  a:any-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    font-size: 1.25rem;
  }

  .githubLogo {
    fill: #fff;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1.5rem;
  }
}

.twitter {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-right: 1.5rem;

  .twitterLogo {
    height: 1.5rem;
    width: 1.5rem;
    margin-bottom: -0.5rem;
  }
}

.patreonLogo {
  height: 2.25rem;
}

@keyframes glowing {
  0% {
    background-color: #2ba805;
    box-shadow: 0 0 3px #2ba805;
  }
  50% {
    background-color: #49e819;
    box-shadow: 0 0 10px #49e819;
  }
  100% {
    background-color: #2ba805;
    box-shadow: 0 0 3px #2ba805;
  }
}
