@import '../vars';

// index
.indexMain {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  font-size: 1rem;

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.jake {
  width: 250px;
  height: 250px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}
