.App header {
  text-align: center;
}

.login {
  text-align: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.layout {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.search-side,
.data-input {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.map-display {
}
