.baseContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('../../images/mapBg.png');

  &,
  > * {
    text-shadow: 3px 4px 2px rgba(#000, 0.25);
  }
}

.header {
  padding: 1rem 0;
  display: flex;
  justify-content: center;
}
